<!doctype html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width = device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>To Do リスト</title>
        <style>
            body{
                width: 960px;
                margin: 0 auto;
                padding-top: 50px;
            }
            nav > a{
                margin-right: 10px;
            }
        </style>
    </head>
    <body>
        <nav>
            <a href="{% url 'todo_list' %}">HOME</a>
            <a href="{% url 'logout' %}">Logout</a>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>